/* add margin to the left of the first div */
.mr-auto {
    margin-left: 20px;
}
/* add margin to the right of the last div */
.ml-auto {
    margin-right: 20px;
}
/* Increase the button inside nav bar*/
.my-nav .btn {
    font-size: 20px;
}

#body-container {
    padding-top: 20px;
}
#visual-box{
    margin-top: 20px;
}

#visual-box .row .visual{
    border: 1px solid grey;
}

/* Leaflet map setting*/
#map {
    height: 300px;
}


/* The Style is for the visual_option.html */
.chart-options-preview {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 10px;
    grid-template-areas: 
        "chart-options-select chart-preview chart-preview"
        ". chart-preview chart-preview";
}

.chart-options-select {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px;
    grid-template-areas: 
        "chart-type"
        "chart-data-one";
    grid-area: chart-options-select;
}

.chart-type { grid-area: chart-type; }
.chart-data-one { grid-area: chart-data-one; }
.chart-preview { grid-area: chart-preview; }
