<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Boostrap and Leaflet CDN Link -->
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"/>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"/>
        <title>{% block title %}mysite{% endblock %}</title>
    </head>
    <body>
        <!-- Creating a nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-nav">
            <div class="mr-auto ml-3">
                <a href="{% url 'visual_option'%}" class="btn btn-outline-light border-0">Add Visualization</a>
            </div>
            <div class="mx-auto">
                {% block nav-title %}{% endblock %}
            </div>
            <div class="ml-auto mr-3">
                <a href="{% url 'crime_map_index'%}" class="btn btn-outline-light border-0">Home</a>
                <button class="btn btn-outline-light border-0">Restore</button>
            </div>
        </nav>

        {% block page_content %}{% endblock %}
    </body>
</html>