<!-- CSS Styles Sheet Link MAYBE REMOVE-->
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<!-- Leaflet CSS and JS Links -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

{% extends "base.html" %}
{% load static %}
{% block title %}Baltimore Crime Map{% endblock %}
{% block nav-title %}<h1 class="text-light">Project47</h1>{% endblock %}
{% block page_content %}
  <!-- Main content of the website -->
  <div class="container-fluid text-center" id="body-container">
    <div class="row">
      <div class="col-10">
        <div class="" id="visualization">
          <!-- A container for leaflet map -->
          <div class="" id="map"></div>
          <!-- A container for all the visualization displlay-->
          <div class="container" id="visual-box">
            <div class="row text-center">
              <div class="col-md-4"><div class="visual">Visual 1</div></div>
              <div class="col-md-4"><div class="visual">Visual 2</div></div>
              <div class="col-md-4"><div class="visual">Visual 3</div></div>
              <div class="col-md-4"><div class="visual">Visual 4</div></div>
              <div class="col-md-4"><div class="visual">Visual 5</div></div>
              <div class="col-md-4"><div class="visual">Visual 6</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="btn-group-vertical" id="settings">
          <button class="btn">Global Filter settings</button>
          <button class="btn">TBD</button>
          <button class="btn">TBD</button>
          <button class="btn">TBD</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Leaflet Script for java Scripts-->
  <script 
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" 
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" 
    crossorigin="">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>    
  <script src="{% static 'map.js' %}"></script>
  <script>
    var map = createMap();
    addPoint(map);
    document.getElementByID("destination").innerHTML=map;
  </script>
{% endblock %}
