<!-- CSS Styles Sheet Link -->
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<!-- Leaflet CSS and JS Links -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- Links for Chosen Jquery drop down menu-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

{% extends "base.html" %}
{% load static %}
{% block title %}Baltimore Crime Map{% endblock %}
{% block nav-title %}<h1 class="text-light">Project47</h1>{% endblock %}

{% block page_content %}
  <!-- Main content of the website -->
  
  <!--Error Messages-->
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
  </div>
  {% endfor %}
  <div class="container-fluid text-center" id="body-container">
    <div class="row">
      <div class="col-10">
        <div class="" id="map-and-charts-container">
          <!-- A container for leaflet map -->
          <div class="" id="map"></div>

          <!-- A container for all the charts display-->
          <div class="container-fluid text-center" id="charts-container">
            <div class="row">
              <!-- Creating the container for the charts -->
              {% for chart in charts %}
                <div class="col-5 chart" id="chart-{{ forloop.counter }}">
                  <canvas id="chart-canvas-{{ forloop.counter }}"></canvas>
                  <button class="btn btn-primary" data-chart="{{ forloop.counter }}">Delete</button>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

      <div class="col-2" id="global-filter-setting">
        <div class="btn-group-vertical text-center" id="settings">
          <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#map-filters" aria-expanded="false" aria-controls="map-filters">
            Global Filter Settings
          </button>
          <br>
          <div class="collapse container-fluid text-center" id="map-filters">
            <div class="card card-body">
              <p>There's something here</p>
            </div>
          </div>
      </div>

    </div>
  </div>

  <!-- Global Filter settings -->
  <div>
    <!-- Multiple selections -->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <form method="post">
      {% csrf_token %}
      <!-- Neighborhood -->
      <div class="btn-group-vertical" id="settings">
        <label for="neighborhood">Neighborhood:</label>
        <select data-placeholder="Neighborhood" multiple class="chozen-select" name="neighborhood" style="width:180px">
          {% for neighborhood in neighborhoodlist %}
            <option value="{{neighborhood.name}}">{{neighborhood.name}}</option>
          {% endfor %} 
        </select> 
        <button type="button" class="chosen-toggle select">Select all</button>
        <button type="button" class="chosen-toggle deselect">Deselect all</button>  <br>
      </div>
      <!-- Weapons -->
      <div class="btn-group-vertical" id="settings">
        <label for="weapon">Weapon:</label>
        <select data-placeholder="Weapon" multiple class="chozen-select" name="weapon" style="width:180px">
          {% for weapon in weaponlist %}
            <option value="{{weapon.weapon}}">{{weapon.weapon}}</option>
          {% endfor %} 
        </select> 
        <button type="button" class="chosen-toggle select">Select all</button>
        <button type="button" class="chosen-toggle deselect">Deselect all</button> <br>
      </div>
      <!-- Crime Description -->
      <div class="btn-group-vertical" id="settings">
        <label for="description">Description:</label>
        <select data-placeholder="Description" multiple class="chozen-select" name="description"style="width:180px">
          {% for description in descriptionlist %}
            <option value="{{description.description}}">{{description.description}}</option>
          {% endfor %} 
        </select> 
        <button type="button" class="chosen-toggle select">Select all</button>
        <button type="button" class="chosen-toggle deselect">Deselect all</button> <br>
      </div>
      <!-- Crime Code -->
      <div class="btn-group-vertical" id="settings">
        <label for="crimeCode">Crime Code:</label>
        <select data-placeholder="Crime Code" multiple class="chozen-select" name="crimecode style="width:180px">
          {% for crimecode in crimecodelist %}
            <option value="{{crimecode.crimecode}}">{{crimecode.crimecode}}</option>
          {% endfor %} 
        </select> 
        <button type="button" class="chosen-toggle select">Select all</button>
        <button type="button" class="chosen-toggle deselect">Deselect all</button> <br>
      </div>
      <!-- Date range -->
      <label for="start">Start Date:</label>
      <input type="date" name="startDate">
      <label for="end">End Date:</label>
      <input type="date" name="endDate">
      <button type="submit" name="submit">Update</button>
    </form> 

    <script type="text/javascript">
      $(function() {
          $(".chozen-select").chosen();
      });
      $('.chosen-toggle').each(function(index) {
        $(this).on('click', function(){
          $(this).parent().find('option').prop('selected', $(this).hasClass('select')).parent().trigger('chosen:updated');
        });
      });
    </script>
  </div>

  <!-- CDN links for charts rendering and separate Chart file to handle charts display-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'crime_map_chart.js'%}"></script>
  {% for chart in charts %}
    {{ chart.chart_type }}
    {{ chart.chart_crime_data }}
    <script>
      addChart("chart-canvas-{{ forloop.counter }}", "{{ chart.chart_type}}", "{{ chart.chart_crime_data }}");
    </script>
  {% endfor %}
  <script>
    // Get all the delete buttons
    var deleteButtons = document.querySelectorAll('.btn-primary[data-chart]');
    
    // Add event listener to each delete button
    deleteButtons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        var chartId = event.target.getAttribute('data-chart');
        var chartContainer = document.getElementById("chart-" + chartId);
        chartContainer.remove();
  
        fetch('/delete_chart?param1=' + (chartId - 1))
          .then(response => response.json())
          .then(charts => {
  
          })
          .catch(error => console.error(error));
      });
    });
  </script>

  <!-- Leaflet Script for CDN source-->
  <!--<script type="module" src="{% static 'Leaflet-heat/dist/leaflet-heat.js' %}"></script>-->
  <script 
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" 
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" 
    crossorigin="">
  </script>
  <script src="{% static 'leaflet.ajax.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>   
  <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

  <!-- Map JavaScript File Reference and Some other function within the map -->
  <script src="{% static 'map.js' %}"></script>
  <script>
    var points = [];
    const pointsrecent = [];
  </script>
  {% for crime in crimelist %}
    <script>
      points.push(["{{crime.latitude}}", "{{crime.longitude}}", "{{crime.crimecode}}", "{{crime.description}}",
      "{{crime.weapon}}","{{crime.datetime}}", "{{crime.neighborhood}}", "{{crime.location}}"])
    </script>
  {% endfor %}

  {% for crime in recentcrimes %}
  <script>
    pointsrecent.push(["{{crime.latitude}}", "{{crime.longitude}}", "{{crime.crimecode}}", "{{crime.description}}",
      "{{crime.weapon}}","{{crime.datetime}}", "{{crime.neighborhood}}", "{{crime.location}}"])
  </script>
  {% endfor %}
  <script>
    var map = createMap(points, pointsrecent);
  </script>

{% endblock %}
