<!-- CSS Styles Sheet Link -->
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<!-- Leaflet CSS and JS Links -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- Links for Chosen Jquery drop down menu-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

{% extends "base.html" %}
{% load static %}
{% block title %}Baltimore Crime Map{% endblock %}
{% block nav-title %}<h1 class="text-light">Project47</h1>{% endblock %}

{% block page_content %}
  <!-- Main content of the website -->
  
  <!--Error Messages-->
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
    </div>
  {% endfor %}

  <div class="container-fluid text-center" id="body-container">
    <!-- Map Container -->
    <div class="" id="map"></div>

    <!-- Setting Container Button -->
    <div class="filter-settings">
      <div class="" id="setting-btn">
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
          Global Filter Setting
        </a>
      </div>
      <!-- Setting Container Collapsable -->
      <div class="collapse" id="collapseFilter">
        <!-- Multiple selections -->
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
        <div class="card card-body">
          <form method="post">
            {% csrf_token %}
            <!-- Neighboorhood -->
            <div class="form-floating mb-3">
              <select class="form-select" id="selectNeigh" aria-label="Floating label select example">
                {% for neighborhood in neighborhoodlist %}
                  <option value="{{neighborhood.name}}">{{neighborhood.name}}</option>
                {% endfor %}
              </select>
              <label for="selectNeigh">Select Neighborhood</label>
            </div>
            <!-- Weapon -->
            <div class="form-floating mb-3">
              <select class="form-select" id="selectWeapon" aria-label="Floating label select example">
                {% for weapon in weaponlist %}
                  <option value="{{weapon.weapon}}">{{weapon.weapon}}</option>
                {% endfor %} 
              </select>
              <label for="selectWeapon">Select Weapon</label>
            </div>
            <!-- Crime Description -->
            <div class="form-floating mb-3">
              <select class="form-select" id="selectDesc" aria-label="Floating label select example">
                {% for description in descriptionlist %}
                  <option value="{{description.description}}">{{description.description}}</option>
                {% endfor %}  
              </select>
              <label for="selectDesc">Select Crime</label>
            </div>
            <!-- Crime Code -->
            <div class="form-floating mb-3">
              <select class="form-select" id="selectCode" aria-label="Floating label select example">
                {% for crimecode in crimecodelist %}
                  <option value="{{crimecode.crimecode}}">{{crimecode.crimecode}}</option>
                {% endfor %}  
              </select>
              <label for="selectCode">Select Crime Code</label>
            </div>
            <!-- Date range -->
            <div class="mb-3" id="time-setting">
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="data" class="form-control" id="startDate" placeholder="mm/dd/yyyy">
                    <label for="startDate">Start Date</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="data" class="form-control" id="endDate" placeholder="mm/dd/yyyy">
                    <label for="endDate">End Date</label>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit" name="submit">Update</button>
          </form> 
          <!-- JS Script to handle multiple selection of filter -->
          <script type="text/javascript">
            $(function() {
                $(".chozen-select").chosen();
            });
            $('.chosen-toggle').each(function(index) {
              $(this).on('click', function(){
                $(this).parent().find('option').prop('selected', $(this).hasClass('select')).parent().trigger('chosen:updated');
              });
            });
          </script>
        </div>
      </div>
    </div>
    <!-- A container for all the charts display-->
    <div class="container-fluid text-center" id="charts-container">
      <div class="row">
      <!-- Creating the container for the charts -->
        {% for chart in charts %}
          <div class="col-4 chart" id="chart-{{ forloop.counter }}">
            <canvas id="chart-canvas-{{ forloop.counter }}"></canvas>
            <button class="btn btn-primary" data-chart="{{ forloop.counter }}">Delete</button>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- CDN links for charts rendering and separate Chart file to handle charts display-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'crime_map_chart.js'%}"></script>
  {% for chart in charts %}
    <script>
      addChart("chart-canvas-{{ forloop.counter }}", "{{ chart.chart_type}}", "{{ chart.chart_data }}");
    </script>
  {% endfor %}
  <script>
    // Get all the delete buttons
    var deleteButtons = document.querySelectorAll('.btn-primary[data-chart]');
    
    // Add event listener to each delete button
    deleteButtons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        var chartId = event.target.getAttribute('data-chart');
        var chartContainer = document.getElementById("chart-" + chartId);
        chartContainer.remove();
  
        fetch('/delete_chart?param1=' + (chartId - 1))
          .then(response => response.json())
          .then(charts => {
  
          })
          .catch(error => console.error(error));
      });
    });
  </script>

  <!-- Leaflet Script for CDN source-->
  <!--<script type="module" src="{% static 'Leaflet-heat/dist/leaflet-heat.js' %}"></script>-->
  <script 
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" 
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" 
    crossorigin="">
  </script>
  <script src="{% static 'leaflet.ajax.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>   
  <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

  <!-- Map JavaScript File Reference and Some other function within the map -->
  <script src="{% static 'map.js' %}"></script>
  <script>
    var points = [];
    const pointsrecent = [];
  </script>
  {% for crime in crimelist %}
    <script>
      points.push(["{{crime.latitude}}", "{{crime.longitude}}", "{{crime.crimecode}}", "{{crime.description}}",
      "{{crime.weapon}}","{{crime.datetime}}", "{{crime.neighborhood}}", "{{crime.location}}"])
    </script>
  {% endfor %}

  {% for crime in recentcrimes %}
  <script>
    pointsrecent.push(["{{crime.latitude}}", "{{crime.longitude}}", "{{crime.crimecode}}", "{{crime.description}}",
      "{{crime.weapon}}","{{crime.datetime}}", "{{crime.neighborhood}}", "{{crime.location}}"])
  </script>
  {% endfor %}
  <script>
    var map = createMap(points, pointsrecent);
  </script>

{% endblock %}
